language: csharp
solution: Multiformats.Hash.sln
branches:
  only:
    - master
install:
  - nuget restore ./Multiformats.Hash/packages.config -PackagesDirectory ./packages
  - nuget restore ./Multiformats.Hash.Tests/packages.config -PackagesDirectory ./packages
  - nuget install NUnit.ConsoleRunner -Version 3.5.0 -OutputDirectory testrunner
script:
  - xbuild /p:Configuration=Release Multiformats.Hash.sln
  - __MonoCS__ ./testrunner/NUnit.ConsoleRunner.3.5.0/tools/nunit3-console.exe ./Multiformats.Hash.Tests/bin/Release/Multiformats.Hash.Tests.dll
deploy:
  provider: script
  script: scripts/deploy.sh
  on:
    branch: master
cache:
  - directories:
    - ./packages
