language: csharp
solution: Multiformats.Hash.sln
  
matrix:
  include:
    - dotnet: 2.1.300-preview2-008533
      mono: none
      env: DOTNET=1 CLI_VERSION=latest MULTIHASH_BIN="${TRAVIS_BUILD_DIR}/multihash" TEST_EXPENSIVE=1
      os: linux
    - mono: latest
      env: MONO=1 CLI_VERSION=latest MULTIHASH_BIN="${TRAVIS_BUILD_DIR}/multihash" TEST_EXPENSIVE=1
      os: linux
    - dotnet: 2.1.300-preview2-008533
      mono: none
      env: DOTNET=1 CLI_VERSION=latest MULTIHASH_BIN="${TRAVIS_BUILD_DIR}/multihash" TEST_EXPENSIVE=1
      os: osx
    - mono: latest
      env: MONO=1 CLI_VERSION=latest MULTIHASH_BIN="${TRAVIS_BUILD_DIR}/multihash" TEST_EXPENSIVE=1
      os: osx

notifications:
  email:
    on_success: change
    on_failure: always

branches:
  only:
    - master

cache:
  bundler: true
  directories:
  - ./packages
  - /.dotnetcli
  - $HOME/Library/Caches/Homebrew

before_install:
  - if test "$TRAVIS_OS_NAME" == "osx"; then brew update; brew install openssl; ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib /usr/local/lib/; ln -s /usr/local/opt/openssl/lib/libssl.1.0.0.dylib /usr/local/lib/; fi

install:
  - git config --global core.autocrlf input
  - git submodule update --init --recursive
  - chmod +x ./build.sh
  - mkdir ./sharness
  - git clone https://github.com/multiformats/multihash.git ./sharness
  - chmod +x ./multihash

script:
  - ./build.sh
  - ./multihash --version
  - make -j1 -C ./sharness/tests/sharness
