<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Multiformats.Base" version="1.0.34" targetFramework="net461" />
  <package id="SimpleBase" version="1.2.0" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
  <package id="WallF.BaseNEncodings" version="1.0.0.0" targetFramework="net461" />
</packages>