<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BinaryEncoding" version="1.2.7" targetFramework="net45" />
  <package id="blake2s-net" version="0.1.0" targetFramework="net45" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net45" />
  <package id="Multiformats.Base" version="1.0.8" targetFramework="net462" />
  <package id="SimpleBase" version="1.2.0" targetFramework="net462" />
  <package id="System.Runtime.Numerics" version="4.0.1" targetFramework="net462" />
  <package id="WallF.BaseNEncodings" version="1.0.0.0" targetFramework="net462" />
</packages>