<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BinaryEncoding" version="1.2.8" targetFramework="net45" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net461" />
  <package id="Multiformats.Base" version="1.0.11" targetFramework="net45" />
  <package id="NUnit" version="3.5.0" targetFramework="net461" />
  <package id="SimpleBase" version="1.2.0" targetFramework="net462" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net45" />
  <package id="WallF.BaseNEncodings" version="1.0.0.0" targetFramework="net462" />
</packages>