<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BinaryEncoding" version="1.2.8" targetFramework="net45" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net461" />
  <package id="Multiformats.Base" version="1.0.34" targetFramework="net461" />
  <package id="NUnit" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Console" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net45" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.5.0" targetFramework="net45" />
  <package id="OpenCover" version="4.6.519" targetFramework="net45" />
  <package id="SimpleBase" version="1.2.0" targetFramework="net462" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net45" />
  <package id="WallF.BaseNEncodings" version="1.0.0.0" targetFramework="net462" />
</packages>